// component styles are encapsulated and only applied to their components
:host{
  display: flex;
}

.content {
  flex-grow: 1;
}

.items {
  overflow: auto;
  // Fix for Safari height issues with scrollable elements
  @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
    height: calc(100vh - 235px);
  }
}